.background-image{
  background-image: url('../../../assets/pokemonBack.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; /* Center the image */
}