

<div *ngIf="isLoad == true; else content" class="example ">
  <nz-spin nzSimple class="w-screen mx-auto" [nzSize]="'large'" ></nz-spin>
</div>
<ng-template #content class="w-sreen" >

  <div  class="grid grid-rows w-screen " >
    <div class="flex justify-between ml-4 mr-10 ">
      <button [ngClass]="{'disabled': pokemons.prev == null}" (click)="prevPage()" nz-button nzType="primary">Anterior</button>
      <button (click)="nextPage()" nz-button nzType="primary">Siguiente</button>
    </div>
    <div class="flex " >
      <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-1 w-10/12 mx-auto" >
        <app-card-detail  *ngFor="let pokemon of pokemons.pokemons" class="col-span-2" [pokemon]="pokemon" ></app-card-detail>
      </div>
    </div>
  </div>
</ng-template>