<div class="flex flex-col 0 w-screen background-image h-screen">
  <div class="w-screen flex justify-between " >
    <div class="flex content-center" >
      <img src="../../../assets/pokemon.png" class="w-34 h-24" alt="">
    </div>
    <div class="flex items-center mr-4"  >

      <button class="text-xl text-black font-black border border-black rounded rounded-lg px-4 py-2 bg-gray-200 hover:bg-gray-400 " [routerLink]="['/login']" >Iniciar sesion</button>
    </div>

  </div>
  <form nz-form [formGroup]="validateForm" class="login-form grid  mt-24 mx-auto border rounded rounded-lg p-4" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor ingrese su username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor ingrese su Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor ingrese su NickName!">
        <nz-input-group nzPrefixIcon="smile">
          <input type="text" nz-input formControlName="nickName" placeholder="NickName" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="grid grid-rows" >
      <div class=" flex items-center border border-gray-200 mb-2 p-1" >
        <i nz-icon nzType="team" class="mr-2" nzTheme="outline"></i>
        
        <a nz-dropdown [nzDropdownMenu]="menu" >
          {{textDefault}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu" >
          <ul
          class="size-drop"
          nz-menu
          nzSelectable
          style="border-radius: 10px; height: auto; word-wrap: break-word"
          >
          <button
          (click)="selectTeam(team)"
          class="mb-0 borderElement"
          nz-menu-item
          *ngFor="let team of teamOptions"
          >
          {{team}}
        </button>
      </ul>
    </nz-dropdown-menu>
  </div>
  <h1 class="text-red-500 mb-2" *ngIf="hasNoTeam" >Por favor selecciona un equipo!</h1>
        
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Crer User</button>
    <br>
  </form>
</div>